* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25); 
}

html, body {
    margin: 0;
    font-weight: 300;
}

#header {
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
}

#header_left {
    width: 25%;
}

#header_middle {
    width: 50%;
    text-align: center; /* to center the logo */
}

#logo {
    height: 100%;
    display: inline-block;
    padding: 10px;
    display: none;
}

#header_right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header_right a {
    height: 40px;
    width: 40px;
    line-height: 27px;
    margin-right: 10px;
    border-radius: 100%;
}

#header_right a:last-of-type {
    margin-right: 0;
}

/* Bootstrap override for mobile support */
.container {
    width: 600px;
}

/* On mobile,
    - container width fills the screen
    - h1 tags are centered
*/
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}
