
/* RESULTS IMAGE VIEWER */

/* The Actual Container for the enlarged image */
#photo_cont {
    position: fixed;
    display: none;
    z-index: 1;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    padding-top: 100px;
    overflow: auto;
    width: 100%;
    height: 100%;
    animation-name: zoom;
    animation-duration: .4s;
    transform-origin: top center;
}

/* Zoom Animation for the container upon click */
@keyframes zoom {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    } to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

#rr_image_display {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

#close {
    color: white;
}

#close:hover {
    color: #bbb
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

#left, #right {
    color: white;
}

#left:hover , #right:hover{
    color: #bbb
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

#image_view_navigation {
    text-align: center;
}

#caption, #photo_counter {
    font-size: 22px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .rr_image {
        width: 100%;
        height: 100%;
    }
}
