#header { margin-bottom: 0; }

#fs_container {
    display: flex;
    flex-wrap: wrap;
}

#search_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

#search_cont > * { margin-right: 10px; }

#inp_search {
    width: 35%;
    font-family: sans-serif;
    padding: 5px 10px;
}

.btn_tag {
    font-size: 90%;
    font-weight: bold;
}

#map_results_cont {
    height: 500px;
    display: flex;
}

#map {
    width: 60%;
    height: 100%;
    border-right: 1px solid #CCC;
}

#results {
    width: 40%;
}

/* RESULTS SPECIFIC */

#end_nav_btn {
    width: 100%;
    display: none;
    border-radius: 0 !important;
}

.result_container {
    background: white;
    padding: 10px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    text-overflow: hidden;
}

.result_container:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.result_header {
    width: 100%;
    padding-bottom: 7px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.result_rr_name {
    font-weight: bold;
    flex-grow: 1;
    padding-right: 5px;
}

.result_stars_cont {
    text-align: right;
    color: #F2E124;
    flex-shrink: 1;
}

.result_stars_cont > span {
    margin-right: 5px;
}

.result_stars_cont > span:last-of-type {
    margin-right: 0;
}

.result_tag_cont {
    height: 30px;
    padding-bottom: 7px;
}

.result_tag_cont > img {
    height: 100%;
    margin-right: 5px;
}

.result_desc {
    height: auto;
}

.result_photos_cont {
    height: 82px;
    padding-top: 7px;
    overflow-y: auto;
}

.result_photos_cont > img {
    height: 100%;
    display: block;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    float: left;
    margin-right: 5px;
}

.result_container.condensed .result_photos_cont { display: none; }
.result_container.condensed .result_desc {
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

.restroom_img:hover {
    cursor: pointer;
    opacity: 0.7;
    border-radius: 2px;
}

.result_buttons_div * {
    font-size: 11px;
    float: right;
    width: auto !important;
    margin-right: 5px;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 600px) {
    #search_cont > * {
        margin-bottom: 10px;
    }

    #btn_use_loc, #static_or_text, #inp_search, #btn_search {
        width: 100%;
    }

    #btn_use_loc, #search_inp {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #static_or_text {
        text-align: center;
        font-size: 125%;
    }

    #map {
        border-right: none;
        border-bottom: 1px solid #CCC;
    }

    #map_results_cont {
        flex-wrap: wrap;
    }

    #map_results_cont > * {
        width: 100%;
    }

    .result_buttons_div * {
        width: 100% !important;
        display: block;
        float: none;
        margin-bottom: 5px;
    }
}
